.poll-option {
    margin-bottom: 20px;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 15%;
}

body {
    background-color: #495153;
}


#vimerpoll-logo {
    margin-top: 5%;
    margin-left: 1%;
    position: absolute;
}