body {
    background-color: #495153;
    color: white;
}

#vimerpoll-logo {
    display: block;
    margin: 0 auto;
    width: 15px;
    height: fit-content;
}

#poll-container {
    margin: 0 auto;
    max-width: 600px;
}

button {
    margin: 0 5px;
}
